@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


@theme {
  --font-display: "Archivo Black", "DM Sans", sans-serif;
  --font-sans: "DM Sans", sans-serif;
  --color-bg-dark: #0b0f19;
  --color-surface-dark: #161c2a;
  --color-accent-cool: #38bdf8;
  --color-accent-purple: #a855f7;
}

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: var(--color-bg-dark);
  }

  body {
    background-color: var(--color-bg-dark);
    color: #f3f4f6; 
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }


  h1, h2 {
    font-family: var(--font-display);
    letter-spacing: 0.001em;
    color: #ffffff;
    font-weight: 450;
  }

   h3, h4, h5, h6 {
    font-family: var(--font-display);
    letter-spacing: 0.001em;
    color: #ffffff;
    font-weight: 150;
  }


  ::selection {
    background-color: rgba(56, 189, 248, 0.2);
    color: var(--color-accent-cool);
  }
}


@utility text-gradient {
  background: linear-gradient(135deg, var(--color-accent-cool), var(--color-accent-purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility fancy-text {
  font-family: var(--font-display);
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

